.todoItem {
    flex-direction: row;
    border-color: black;
    text-align: center;
    border: solid;
    height: 27px;
    margin: 10px;
    border-width: 1px;
}

.todoItemText {
    text-decoration: line-through;
}

span {
    margin: 5px;
}

.X {
    display: flex;
    float: right;
    height: 25px;
    margin: 1px;
    padding: auto;
    flex-direction: column;
    justify-content: center;
}

.Edit {
    display: flex;
    float: right;
    height: 25px;
    padding: auto;
    margin: 1px;
    flex-direction: column;
    justify-content: center;
}